@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: lightblue;
    padding-top: 8rem ;
    padding-left: 8%;
    /* padding-right: 7rem; */
}

#login-card{
    width: 70%;
 
}

.Jeevan-logo{
    object-fit: cover;
    padding-bottom: 0px;
    margin-bottom: 0px;
}