@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://jeevantechnologies.com/images/slider/one-bg.png");

#Jeevan-logo {
  width: 40%;
}

#new-password-card {
  width: 25rem;
}
@media screen and (max-width: 768px) {
  .Jeevan-logo > img {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .Jeevan-logo > img {
    width: 100%;
  }
}
