body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.dashboard-body {
  display: flex;
  flex-grow: 1;
  overflow: auto;
}

.dashboard-body .admin-sidebar {
  width: 20%;
  max-width: 200px;
  min-width: 150px;
  border-right: 1px solid #ccc;
}

.dashboard-body .admin-sidebar a {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
}

.dashboard-body .admin-sidebar a:hover {
  background-color: #ddd;
}

.dashboard-body .admin-content {
  width: 80%;
  padding: 20px;
}

.dashboard-body .admin-content .search-bar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.dashboard-body .admin-content .search-bar input[type="text"] {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.dashboard-body .admin-content .search-table {
  width: 100%;
}

.dashboard-body .admin-content .search-table table {
  width: 100%;
  border-collapse: collapse;
}

.dashboard-body .admin-content .search-table table th,
.dashboard-body .admin-content .search-table table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.profile-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: scroll;
}
