@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://jeevantechnologies.com/images/slider/one-bg.png");

.input-field {
  width: 100%;
}
.otp-btn {
  background-color: #0c4da2;
  border: none;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  border-radius: 4px;
  transition-duration: 0.4s;
  width: 100%;
}

.otp-btn:hover {
  background-color: #57cb83;
  color: #fff;
}

.card-title {
  color: #0c4da2;
  font-family: "Georgia", "Serif";
}

#enter-email-card {
  width: 25rem;
  height: 22rem;
}

#Jeevan-logo-img-2 {
  width: 34%;
}
