.forms-container{
    margin: auto;

}
.button-container{
   display: flex;
   --bs-gutter-x: 1.5rem;
   --bs-gutter-y: 0;
   width: 100%;
   padding-right: calc(var(--bs-gutter-x) * .5);
   padding-left: calc(var(--bs-gutter-x) * .5);
   margin-right: auto;
   margin-left: auto;
}


.button-container > button {
    flex-grow: 1;
    background-color: #007bff;
    border-color: black;
    border-radius: 10px;

    
}

