.nav-header{
    display: grid;
    width: 100%;
    /* justify-content: space-between; */
    /* grid-row: 1; */
    margin-right: 0px;
    padding-right: 0px;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
}


.Jeevan-logo{
    margin-top: 25px;
    margin-left: 25px;
    max-width: 200px; 
    /* padding-right: 60%; */
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 10;
    
}

.Jeevan-logo>img{
    width: 50%;
    /* height: 75%; */

}

.nav-header>p{
    /* color: red; */
    /* margin:5px; */
    align-self: self-end;
    grid-row: 1;
    font-size:large;
    width: 60px;
    font-weight: 500;
}