.dashboard-container {
  display: flex;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}





.Jeevan-logo {
  margin-top: 25px;
  margin-left: 25px;
  max-width: 200px;
  grid-row: 1;
  grid-column: 1 /span 7;
}

.Jeevan-logo > img {
  width: 50%;
}

.nav-header > button {
  justify-content: center;
  grid-row: 1;
  font-size: xx-large;
  width: 60px;
  font-weight: 1200;
  background: none;
  color: white;
  border: none;
  font: inherit;
  outline: inherit;
}

.main-content {
  flex-grow: 1;
  padding: 40px;
  background-color: #f1f1f1;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-header {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

.card-content {
  font-size: 14px;
  color: #333;
}
