/*body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
}

.sidebar-container {
  flex: 0 0 250px;
  height: 100vh;
  overflow: auto;
} */

.profile-container {
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: auto;
    flex-direction: row;
}

.profile-left, .profile-right {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.profile-left {
    background-color: #0c4da2;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

}

.profile-right {
    background-color: #ffffff;
    color: #333;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

 .profile-photo {
    width: 100px;
    height: 100px;
    /* background-color: #fff; */
    /* border-radius: 50%; */
    margin-bottom: 1rem;
} 

.profile-item {
    margin-bottom: 1rem;
}

.profile-item input {
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #ffffff;
}

button {
    background-color: #0c4da2;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    border-radius: 15px;
    transition-duration: 0.4s;
    width: 50%;

}

@media screen and (max-width: 768px) {
    .profile-photo {
        width: 80px;
        height: 80px;
    }
}

@media screen and (max-width: 480px) {
    .profile-photo {
        width: 60px;
        height: 60px;
    }
}
