body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding: 1rem;
    background: linear-gradient(135deg, #81cfe0, #1eb1c8);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    margin: auto;
}

.profile-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    color: #ffffff;
}

.profile-item label {
  flex-basis: 20%;
  text-align: right;
  margin-right: 10px;
  font-weight: bold;
  color: #333;
}

.profile-item input {
  flex-basis: 70%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.profile-item button {
  padding: 10px 20px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.profile-item button:hover {
  background: #0056b3;
}
