body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


.logo img {
  height: 50px;
}

.logout-button {
  background: none;
  border: none;
  cursor: pointer;
}

.main-content {
  flex-grow: 1;
  overflow: auto;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}


.dashboard-body{
  display: flex;
}