/* @media any and (min-width:500px) {
    
    .card-container{
        max-width: 40%;
        min-width: 350px;
    }
} */

@media screen {
    .card-container{
        max-width: 75%;
        min-width: 150px;
    }
}


.card-container{
    max-width: 40%;
    min-width: 350px;
}

.contact-pane > div >  p{
    text-align: center;
}


.match-details >div > p{
    font-size: small;
}

.font-weight-light{
    font-weight: 100;
    font-size: smaller;
}