/* @media any and (min-width:500px) {
    
    .card-container{
        max-width: 40%;
        min-width: 350px;
    }
} */

@media screen {
    .card-container{
        max-width: 75%;
        min-width: 150px;
    }
}


.card-container{
    max-width: 40%;
    min-width: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: "Google Sans","Noto Sans Myanmar UI",arial,sans-serif;
}

.contact-pane > div >  p{
    text-align: center;
}


.match-details >div > p{
    font-size: small;
}

.font-weight-light{
    font-weight: 100;
    font-size: smaller;
}