.search-grid{
    display: flex;
    flex-wrap: wrap;
    /* margin: 2rem; */
    justify-content: space-around;
    align-items: flex-start;
    /* padding-bottom: 10px; */
    overflow-y:auto;
    max-height: 84vh;
}