.employee-form-container {
  margin: auto;
  overflow-y: auto;
  max-height: 80vh;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.employee-form-container::-webkit-scrollbar {
  display: none;
}

.input-design-add-employee {
  border-radius: 0px;
}

.department-dropdown,
.role-dropdown,
.worktype-dropdown,
.workstatus-dropdown,
.manager-dropdown {
  width: 100%;
  border: 1px solid rgb(218, 220, 224);
  box-sizing: border-box;
  /* border-radius: 0px 0px 4px 4px; */
  box-shadow: none;
  padding: 4px 10px;
  min-height: 40px;
  width: 100%;
  font-size: 14px;
}
